@{
    ViewBag.Title = "Master RollerBuilder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/tools.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/masterRollerBuilder.js")"></script>
}
<div id="ua_panel" class="easyui-panel" style="text-align: left;" data-options="modal:true" 
    title=".: Master RollerBuilder :.">
<div id="toolbar" class="form_toolbar">
        <a id="btn_reload" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">Reload Data</a>
        <a id="btn_add_new" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Add New</a>
        <a id="btn_edit" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit'">Edit Data</a>
        <a id="btn_del" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Delete</a>
    </div>

    <div id="table_div">
        <table id="list"></table>
        <div id="pager" class="scroll" style="text-align: center;"></div>
    </div>

<!-- Dialog Box -->
    <div id="form_div" class="easyui-dialog" style="text-align: left; padding:0px 0px 10px" data-options="modal:true"  
        title=".: Master RollerBuilder :.">

        <div id="form_toolbar" class="form_toolbar">
            <a id="form_btn_save" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Save</a>
            <a id="form_btn_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
        </div>

        <div style="overflow: auto">
            <form id="frm">
                @*<fieldset class="ui-widget-content ui-corner-all input_form_div">*@
                    <table width="100%" border="0" cellpadding="1" cellspacing="1" class="input_form_tbl">
                        <tr nowrap>
                            <td width="139" nowrap style="width: 100px">
                                <label>ID</label></td>
                            <td width="550">
                                <input id="id" type="text" size="10" disabled="disabled"/></td>
                        </tr>
                          <tr>
                            <td>
                                <label>Machine</label></td>
                            <td colspan="3">
                                <input id="MachineId"  class="textright" type="text" size="10" maxlength="7" disabled="disabled" />
                                <input id="btnMachine" name="buttonactivated" type="button" style="cursor: pointer;" class="ui-corner-all ui-state-default" value=".." />
                                <input id="Machine" name="MachineId" type="text" size="56" maxlength="50" class="editable upper" disabled="disabled" />
                        </tr>
                        <tr>
                            <td>
                                <label>RollerType</label></td>
                            <td colspan="3">
                                <input id="RollerTypeId"  class="textright" type="text" size="10" maxlength="7" disabled="disabled" />
                                <input id="btnRollerType" name="buttonactivated" type="button" style="cursor: pointer;" class="ui-corner-all ui-state-default" value=".." />
                                <input id="RollerType" name="RollerTypeId" type="text" size="56" maxlength="50" class="editable upper" disabled="disabled" />
                        </tr>
                        <tr>
                            <td>
                                <label>Compound</label></td>
                            <td colspan="3">
                                <input id="CompoundId"  class="textright" type="text" size="10" maxlength="7" disabled="disabled" />
                                <input id="btnCompound" name="buttonactivated" type="button" style="cursor: pointer;" class="ui-corner-all ui-state-default" value=".." />
                                <input id="Compound" name="CompoundId" type="text" size="56" maxlength="50" class="editable upper" disabled="disabled" />
                        </tr>
                        <tr>
                            <td>
                                <label>Adhesive</label></td>
                            <td colspan="3">
                                <input id="AdhesiveId"  class="textright" type="text" size="10" maxlength="7" disabled="disabled" />
                                <input id="btnAdhesive" name="buttonactivated" type="button" style="cursor: pointer;" class="ui-corner-all ui-state-default" value=".." />
                                <input id="Adhesive" name="AdhesiveId" type="text" size="56" maxlength="50" class="editable upper" disabled="disabled" />
                        </tr>
                        <tr>
                            <td>
                                <label>UoM</label></td>
                            <td colspan="3">
                                <input id="UoMId"  class="textright" type="text" size="10" maxlength="7" disabled="disabled" />
                                <input id="btnUoM" name="buttonactivated" type="button" style="cursor: pointer;" class="ui-corner-all ui-state-default" value=".." />
                                <input id="UoM" name="UoMId" type="text" size="56" maxlength="50" class="editable upper" disabled="disabled" />
                        </tr>
                        <tr>
                            <td>
                                <label>CoreBuilder</label></td>
                            <td colspan="3">
                                <input id="CoreBuilderId"  class="textright" type="text" size="10" maxlength="7" disabled="disabled" />
                                <input id="btnCoreBuilder" name="buttonactivated" type="button" style="cursor: pointer;" class="ui-corner-all ui-state-default" value=".." />
                                <input id="CoreBuilder" name="CoreBuilderId" type="text" size="56" maxlength="50" class="editable upper" disabled="disabled" />
                        </tr>
                         <tr>
                            <td>
                                <label>Base Sku</label></td>
                            <td >
                                <input id="BaseSku" name ="BaseSKU" type="text" size="10" maxlength="60" align="left"/>
                                <label style="margin-left: 0.3in; margin-right: 0.1in">Used</label>
                                <input id="SkuRollerUsedCore"    name ="SkuUsedCore" type="text" size="10" maxlength="60" align="left"/>
                                <label style="margin-left: 0.1in; margin-right: 0.1in">New</label>
                                <input id="SkuRollerNewCore" name ="SkuNewCore" type="text" size="10" maxlength="60" align="left"/>
                            </td>
                         </tr>
                        <tr>
                            <td>
                                <label>Name</label></td>
                            <td colspan="3">
                                <input id="Name" name="Name" type="text" size="60" maxlength="60" align="left" /></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Description</label></td>
                            <td colspan="3">
                                <input id="Description" name="Description" type="text" size="60" maxlength="60" align="left" /></td>
                        </tr>
                        <tr>
                            <td>
                                <label>RD</label></td>
                            <td>
                                <input id="RD" name="RD" type="text" size="10" maxlength="15" class="textright easyui-numberbox" data-options="groupSeparator:','" value="0"" />
                                <label style="margin-left: 0.3in; margin-right: 0.2in">CD</label>
                                <input id="CD" name="CD" type="text" size="10" maxlength="15" class="textright easyui-numberbox" data-options="groupSeparator:','" value="0"" />
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <label>RL</label>
                            </td>
                             <td>
                                <input id="RL" name="RL" type="text" size="10" maxlength="15" class="textright easyui-numberbox" data-options="groupSeparator:','" value="0"" />
                                <label style="margin-left: 0.3in; margin-right: 0.2in">WL</label>
                                <input id="WL" name="WL" type="text" size="10" maxlength="15" class="textright easyui-numberbox" data-options="groupSeparator:','" value="0"" />
                                <label style="margin-left: 0.1in; margin-right: 0.2in">TL</label>
                                <input id="TL" name="TL" type="text" size="10" maxlength="15" class="textright easyui-numberbox" data-options="groupSeparator:','" value="0"" />
                             </td>
                        </tr>
                        <tr class="border_bottom">
                            <td>
                                <label>QTY - Used:</label></td>
                            <td>
                                <input id="RollerUsedCoreQuantity" name="RollerUsedCoreQuantity" type="text" size="10" maxlength="15" class="textright easyui-numberbox" data-options="groupSeparator:','" value="0" disabled="disabled" />
                                <label style="margin-left: 0.3in; margin-right: 0.1in">New:</label>
                                <input id="RollerNewCoreQuantity" name="RollerNewCoreQuantity" type="text" size="10" maxlength="15" class="textright easyui-numberbox" data-options="groupSeparator:','" value="0" disabled="disabled" />
                            </td>
                        </tr>
                        <tr class="border_top">
                            <td style:"padding-top: 0.1in;">
                                <label>Crowning</label>
                            </td>
                            <td>
                                <input type="checkbox" name="iscrowning" id="iscrowning" />
                                <input id="CrowningSize" name="CrowningSize" type="text" size="10" maxlength="15" class="textright easyui-numberbox" data-options="groupSeparator:','" value="0" />
                                <label>mm</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Grooving</label>
                            </td>
                            <td>
                                <input type="checkbox" name="isgrooving" id="isgrooving" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>&nbsp;</label>
                            </td>
                            <td>
                                <label style="margin-right: 0.1in">Dimension - W:</label>
                                <input id="GroovingWidth" name="GroovingWidth" type="text" size="10" maxlength="15" class="textright easyui-numberbox" data-options="groupSeparator:','" value="0" />
                                <label style="margin-left: 0.1in; margin-right: 0.1in">D:</label>
                                <input id="GroovingDepth" name="GroovingDepth" type="text" size="10" maxlength="15" class="textright easyui-numberbox" data-options="groupSeparator:','" value="0" />
                                <label style="margin-left: 0.1in; margin-right: 0.1in">P:</label>
                                <input id="GroovingPosition" name="GroovingPosition" type="text" size="10" maxlength="15" class="textright easyui-numberbox" data-options="groupSeparator:','" value="0" />
                                <label>mm</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Chamfer</label>
                            </td>
                            <td>
                                <input type="checkbox" name="ischamfer" id="ischamfer" />
                            </td>
                        </tr>
                    </table>
                @*</fieldset>*@
            </form>
        </div>
    </div>
<!-- End Dialog Box -->

<!-- Dialog Box  Delete-->
    <div id="delete_confirm_div" class="easyui-dialog" style="text-align: left; height: 130px; width: 300px;"
        data-options="modal:true" title=".: Confirmation :.">

        <div id="delete_confirm_toolbar" class="form_toolbar">
            <a id="delete_confirm_btn_submit" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Submit</a>
            <a id="delete_confirm_btn_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
        </div>
        <div id="delete_confirm_info">
            <span>Are you sure to delete the selected record?</span>
            <input id="delete_confirm_id" type="hidden" />
        </div>
    </div>
<!-- End Dialog Box Delete-->


 <!-- Look Up UoM -->
    <div id="lookup_div_machine" class="easyui-dialog" title="List Machine" style="padding: 0px 5px; height: 490px; width: 480px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_machine" class="grid_toolbar">
            <a id="lookup_btn_add_machine" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_machine" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_machine" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_machine" class="scroll" style="text-align: center;"></div>
    </div>
<!-- END Look Up machine -->

    
 <!-- Look Up rollertype -->
    <div id="lookup_div_rollertype" class="easyui-dialog" title="List Rollertype" style="padding: 0px 5px; height: 490px; width: 480px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_rollertype" class="grid_toolbar">
            <a id="lookup_btn_add_rollertype" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_rollertype" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_rollertype" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_rollertype" class="scroll" style="text-align: center;"></div>
    </div>
<!-- END Look Up rollertype -->
    
 <!-- Look Up compound -->
    <div id="lookup_div_compound" class="easyui-dialog" title="List Compound" style="padding: 0px 5px; height: 490px; width: 480px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_compound" class="grid_toolbar">
            <a id="lookup_btn_add_compound" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_compound" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_compound" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_compound" class="scroll" style="text-align: center;"></div>
    </div>
<!-- END Look Up compound -->

    <!-- Look Up adhesive -->
    <div id="lookup_div_adhesive" class="easyui-dialog" title="List Adhesive" style="padding: 0px 5px; height: 490px; width: 480px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_adhesive" class="grid_toolbar">
            <a id="lookup_btn_add_adhesive" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_adhesive" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_adhesive" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_adhesive" class="scroll" style="text-align: center;"></div>
    </div>
<!-- END Look Up adhesive -->
    
 <!-- Look Up corebuilder -->
    <div id="lookup_div_corebuilder" class="easyui-dialog" title="List CoreBuilder" style="padding: 0px 5px; height: 490px; width: 480px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_corebuilder" class="grid_toolbar">
            <a id="lookup_btn_add_corebuilder" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_corebuilder" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_corebuilder" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_corebuilder" class="scroll" style="text-align: center;"></div>
    </div>
<!-- END Look Up corebuilder -->

 <!-- Look Up UoM -->
    <div id="lookup_div_uom" class="easyui-dialog" title="List UoM" style="padding: 0px 5px; height: 490px; width: 480px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_uom" class="grid_toolbar">
            <a id="lookup_btn_add_uom" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_uom" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_uom" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_uom" class="scroll" style="text-align: center;"></div>
    </div>
<!-- END Look Up UoM -->

  </div>

