@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div title="Home" style="display: block; height: 620px !important;">
    <img src='@Url.Content("~/Content/images/zentrum_logo.gif")' title='Zengra' style="width:162px; height:22px; background-color: blue;">
</div>
