@{
    ViewBag.Title = "General Ledger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/tools.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/generalledgerjournal.js")"></script>
}
<div id="ua_panel" class="easyui-panel" style="text-align: left;" data-options="modal:true" 
    title=".: General Ledger Journal :.">
    <div id="toolbar">
        <table  width="70%" border="0" cellpadding="5" cellspacing="5" class="input_form_tbl">
            <tr>
                <td style="width: 10%">Account</td>
                <td style="width: 30%">
                    <label>
                        <input name="AccountId" type="text" id="AccountId" size="5" maxlength="5" disabled="disabled" />
                        <input name="AccountCode" type="text" id="AccountCode" size="5" maxlength="5" disabled="disabled" />
                        <input type="button" name="btncoa" id="btncoa" style="cursor: pointer;" 
                            class="ui-corner-all ui-state-default" value="..." />
                        <input name="AccountName" type="text" id="AccountName" size="15" maxlength="15" disabled="disabled"/>
                    </label>
                </td>
                <td style="width: 8%">
                    Start Date:
                </td>
                <td style="width: 10%">
                    <input id="StartDate"class="easyui-datebox" title="mm/dd/yyyy" type="text" size="5" value="@DateTime.Today.ToShortDateString()"/>
                    <input name="StartDate" type="text" size="1" hidden="hidden"/>
                </td>
                <td style="width: 8%">
                    End Date:
                </td>
                <td style="width: 10%">
                    <input id="EndDate"class="easyui-datebox" title="mm/dd/yyyy" type="text" size="5" value="@DateTime.Today.ToShortDateString()"/>
                    <input name="EndDate" type="text" size="1" hidden="hidden"/>
                </td>
                <td style="width: 5%">
                    <a id="search_btn_submit" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Find</a>
                </td>
                <td style="width: 5%">
                    <a id="btn_reload" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">Reload</a>
                </td>
            </tr>
        </table>
    </div>

    <div id="table_div">
        <table id="list"></table>
        <div id="pager" class="scroll" style="text-align: center;"></div>
    </div>
  </div>