@{
    ViewBag.Title = "Customer's Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/tools.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/customeritem.js")"></script>

}
<div id="ua_panel" class="easyui-panel" style="text-align: left;" data-options="modal:true" 
    title=".: @ViewBag.Title :.">
    
        <table width="100%">
        <tr>
            <td width="40%">
                <div id="panel" class="easyui-panel">
                    <div id="toolbar" class="form_toolbar">
                        <div style="float: left">
                            <a id="btn_reload" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">Reload Data</a>
                            <a id="btn_warehouse" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-search'">By Warehouse</a>
                            <a id="btn_item" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-search'">By Item</a>
                        </div>
                        <div style="float: right">
                            <label>Contact</label>
                            <input id="ContactId" hidden class="textright" type="text" size="10" maxlength="7" disabled="disabled" value="0" />
                            <input id="btnContact" name="buttonactivated" type="button" style="cursor: pointer;" class="ui-corner-all ui-state-default" value=".." />
                            <input id="Contact" name="ContactId" type="text" size="15" maxlength="30" class="editable upper" disabled="disabled" />
                        </div>
                    </div>
                     <div id="table_div">
                        <table id="list"></table>
                        <div id="pager" class="scroll" style="text-align: center;"></div>
                    </div>
                </div>
            </td>
            <td width ="60%">
                <div id="detail_panel" class="easyui-panel">
                    <div id="detail_toolbar" class="form_toolbar">
                        <div style="float: left">
                            <a id="detail_btn_reload" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">Reload Data</a>
                        </div>
                    </div>
                    <table id="list_detail" class="scroll list_master" cellpadding="0" cellspacing="0"></table>
                    <div id="pager_detail" class="scroll" style="text-align: center;"></div>
                </div>
            </td>
        </tr>
    </table>
    </div>

<!-- Look Up contact -->
    <div id="lookup_div_contact" class="easyui-dialog" title="List Contact" style="padding: 0px 5px; height: 490px; width: 480px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_contact" class="grid_toolbar">
            <a id="lookup_btn_add_contact" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_contact" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_contact" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_contact" class="scroll" style="text-align: center;"></div>
    </div>
<!-- END Look Up contact -->
